.fill-space {
    flex: 1 1 auto;
}
.button-options {
    flex: none;
    display: block;
    text-align: left;

}
.title {
    float:right; 
    margin: 0px 0px 0px auto ;
    text-decoration: underline purple;
    color: rgb(255, 255, 255);
}